body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    grid-column: 1 / -1;
}

.blue-block {
    background-color: blue;
    grid-column: 1 / 3;
}

.yellow-block {
    background-color: yellow;
    grid-column: 3 / 5;
}

.green-block {
    background-color: green;
    grid-column: 5 / 7;
}

.black-block {
    background-color: black;
    color: white;
    grid-column: span 3;
}

.white-block {
    background-color: white;
    grid-column: span 2;
}


#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
    gap: 20px;
}