body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#first-block {
    background-color: red;
    grid-column: 1 / -1;
}

.blue-block {
    background-color: blue;
    grid-column: 1 / 3;
}

.yellow-block {
    background-color: yellow;
    grid-column: 3 / 5;
}

.green-block {
    background-color: green;
    grid-column: 5 / 7;
}

.black-block {
    background-color: black;
    color: white;
    grid-column: span 3;
}

.white-block {
    background-color: white;
    grid-column: span 2;
}


#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
    gap: 20px;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 320px) and (max-width: 420px)
{
    #main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 100vh;
        width: 100vw;
        
    }
    .white-block {
        background-color: white;
        grid-column: 1;
    }

    .black-block {
        background-color: black;
        color: white;
        grid-column: 1;
    }
    #first-block {
        background-color: red;
        grid-column: 1;
    }
    
    .blue-block {
        background-color: blue;
        grid-column: 1;
    }
    
    .yellow-block {
        background-color: yellow;
        grid-column: 1;
    }
    
    .green-block {
        background-color: green;
        grid-column: 1;
    }
    
}

@media screen and (min-width: 421px) and (max-width: 800px)
{
    #main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr;
        height: 100vh;
        width: 100vw;
        
    }
    .white-block {
        display: none;
    }

    .black-block {
        background-color: black;
        color: white;
        grid-column: span 1;
    }
    #first-block {
        background-color: red;
        grid-column: span 2;
    }
    
    .blue-block {
        background-color: blue;
        grid-column: span 1;
    }
    
    .yellow-block {
        background-color: yellow;
        grid-column: span 1;
    }
    
    .green-block {
        background-color: green;
        grid-column: span 2;
    }
    

 }
}